/* RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* RESET - REMOVE THE FORM DEFAULT FOCUS EFFECT */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* BASE */
body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
}


header ul {
    display: flex;
    list-style: none;
}

header li {
    padding: 0 0 0 2rem;
}

.nav-links li::before{
    content: url('../img/icono-patita-nav.png');
}

header .sub-header{
    align-items: center;
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

header nav {
    align-items: center;
    background-color: #F0A83E;
    color: #F3F3F3;
    display: flex;
    height: 62px;
    justify-content: space-between;
    padding: 1rem 4rem;
}

header nav .logo {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

header nav span {
    color: #222222;
}

header nav a {
    color: #F3F3F3;
}

nav .hamburger {
    display: none;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    color: #F3F3F3;
}

footer .main-footer {
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer .main-footer .contactos-item {
    display: flex;
    padding: 1rem;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer li {
    list-style: none;
    display: flex;
    padding: 1rem;
}

footer i {
    padding: 0 3rem 0 0;
}

footer .main-footer h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer .main-footer p {
    color: #8A8787;
}

footer .sub-footer {
    background-color: #222222;
    padding: 1rem;
    text-align: center;
}

footer .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

footer .logo p {
    color: #F3F3F3;
}

footer .logo span {
    color: #F0A83E;
}

/* CONTENT */

/* MAIN BANNER */
main h2 {
    font-size: 30px;
    line-height: 35px;
}

main p {
    font-size: 16px;
    line-height: 19px;
}

main .banner {
    background-image: url('../img/comida_perro_big.png');
    background-size: cover;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

main .banner-content {
    position: relative;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3C2313;
}

main .banner h2 {
    background-color: #F3F3F3;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

main .banner p {
    margin: 1.5rem 0 2rem 0;
}

main .banner a {
    background-color: #F0A83E;
    color: #F3F3F3;
    padding: 1rem;
    border-radius: 5px;
}

/* PRODUCTOS DESTACADOS */
.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paw {
    padding: 1.5rem;
    width: 10vw;
}

.destacados h2 {
    color: #3C2313;
    font-size: 3rem;
    font-weight: 700;
}

.destacados ul {
    padding: 1.5rem;
    display: flex;
}

.destacados li,
.destacados a:visited {
    list-style-type: none;
    color: #666666;
    padding: 0 1rem;
}

/* PRODUCTOS CARDS */
.cards {
    display: flex;
    justify-content: center;
}

.cards article {
    margin: 1rem;
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    color: #3C2313;
    font-size: 15px;
}

.product-price {
    color: #F0A83E;
    font-size: 15px;
    padding: 1rem;
}

/* CONTACT FORM */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form h3 {
    margin: 5rem 0 2rem 0;
    color: #3C2313;
    font-size: 25px;
    font-weight: bold;
}

::-webkit-input-placeholder { /* WebKit browsers change placeholder color */
    color: #FFFFFF;
}

.field {
    color: #FFFFFF;
    width: 340px;
    height: 40px;
    border-radius: 15px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0.5rem;
}

.contact {
    background-color: #3C2313;
}

.form-button {
    margin: 1rem;
}

.button {
    color: #FFFFFF;
    width: 110px;
    height: 40px;
    border-radius: 15px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0.5rem;
}

.reset {
    background-color: #8A8787;
}

.submit {
    background-color: #F0A83E;
}

/* SUBSCRIBE */
.subscribe-form {
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 5rem 0 0 0;
}

.subscribe-form-header {
    display: flex;
    align-items: center;
    color:  #FFFFFF;
}

.subscribe-form-header  h3{
    padding: 0 0 0 0.5rem;
    font-size: 20px;
}

.subscribe-form-header img{
    width: 50px;
}

.field-subscribe::-webkit-input-placeholder {
    color: #A0A0A0;
}

.field-subscribe {
    color: #A0A0A0;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0.5rem;
}

.button-subscribe {
    color: #FFFFFF;
    background-color: #3C2313;
    border-radius: 15px;
    padding: 0.75rem 1rem;
    margin: 0.5rem;
}

.subscribe-form form {
    display: flex;
    align-items: center;
}

/* MOBILE */
@media (max-width: 480px) {
    /* ESCONDER SUBHEADER NEGRO */
    header .hidden-mobile {
        display: none;
    }

    /* ESCONDER LINKS DE NAVEGACION */
    .nav-links {
        display: none;
    }

    /* HACER APARECER EL HAMBURGER ICON */
    nav .hamburger {
        display: block;
    }

    /* AJUSTES HEADER */
    header nav {
        height: 25px;
        padding: 2rem;
    }

    nav p {
        font-size: 1rem;
    }

    /* AJUSTES BANNER */
    main .banner h2 {
        font-size: 1.5rem;
    }

    /* AJUSTES PRODUCTOS DESTACADOS */
    .destacados h2 {
        font-size: 1.5rem;
    }

    .cards {
        flex-direction: column;
    }

    .cards img {
        width: 200px;
    }

    .cards article {
        margin: 1rem 4rem;
    }

    /* AJUSTES CONTACT FORM */
    .field {
        width: 13rem;
        font-size: 16px;
    }

    /* AJUSTES SUBSCRIBE FORM */
    .subscribe-form {
        flex-direction: column;
    }

    .subscribe-form-header {
        padding: 1rem;
    }

    .subscribe-form-header  h3{
        font-size: 1rem;
    }

    /* AJUSTES FOOTER */
    footer .main-footer {
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        order: -1;
    }
}
